/.webpack
/lsp
/out

# Archive and macOS metadata
**/__MACOSX/**
**/.DS_Store
**/._*
**/*.DS_Store

# Extracted binary resources
/resources/**

# Workflow files require explicit review and cannot be modified by GITHUB_TOKEN
/.github/workflows/**
